* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #fcfcfc;
}
.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    margin-top: 100px;
    text-align: center;
}
.titulo {
    margin-bottom: 20px;
}
.opciones p {
    background: black;
    display: inline-block;
    padding: 12px;
    color: #ffffff;
    border-radius: 3px;
    font-weight: bold;
    margin: 10px;
}
p.p1, p.p2 {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
}
p.p1:hover, p.p2:hover {
    background: grey;
    cursor: pointer;
}
#si {
    background: #515050;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    display: none;
    border-radius: 3px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 600px) {
    .contenedor {
        margin-top: 50px;
    }
    .titulo h1 {
        font-size: 1.5em;
    }
    .opciones p {
        padding: 10px;
        font-size: 16px;
    }
    #si {
        width: 90%;
        padding: 20px;
    }
}