* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #fcfcfc;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Para evitar el desplazamiento de la página */
}
.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    margin-top: 100px;
    text-align: center;
}
.titulo {
    margin-bottom: 20px;
}
.opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative; /* Necesario para el posicionamiento absoluto de los elementos hijos */
}
.opciones p {
    background: black;
    display: inline-block;
    padding: 12px;
    color: #ffffff;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin: 10px;
    font-size: 1.2em;
    position: absolute; /* Para permitir el movimiento */
}
.opciones p:hover {
    background: grey;
}
#si {
    background: #515050;
    color: #ffffff;
    padding: 20px;
    margin-top: 50px; /* Aumentar el margen superior para que no se superponga */
    display: none;
    border-radius: 3px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 600px) {
    .contenedor {
        margin-top: 50px;
    }
    .titulo h1 {
        font-size: 1.5em;
    }
    .opciones p {
        padding: 10px;
        font-size: 16px;
    }
    #si {
        width: 90%;
        padding: 20px;
    }
}